<!DOCTYPE html>
<html ng-app="accord">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Animation showing Canadian Economy Over Time with d3js.  Built for #HES2014">
    <meta name="author" content="www.cacheflow.ca">
    <meta property="og:image" content="assets/img/dancingbubbs.png" />

    <title>Hamilton Economic Summit</title>

    <!-- Bootstrap core -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-3.0.0-css-bootstrap.min.css" rel="stylesheet">
  
    <!-- import angular ui -->
    <script src="assets/js/angularjs-1.2.8-angular.js"></script>
    <script src="assets/js/angular-ui-bootstrap-tpls-0.10.0.js"></script>

    <!-- data and d3 -->
    <script src="assets/js/d3.v3.min.js"></script>

    <!-- Custom styles -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/d3styles.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">#HES2014 DATA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/">HOME</a></li>
            <!-- <li><a href="#format">Chart 1</a></li>
            <li><a href="#participants">Chart 2</a></li> -->
            <li><a href="/hamilton-sectors.html">Hamilton GDP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="container">  
          
          <div class="row">
              <div class="col-lg-12">
                <h1>Canadian Cities Over Time</h1>
                <hr />
              </div>
          </div>
            
          <div class="col-lg-3" id="searchMenu">
          
              <div class="container-fluid" ng-controller="TypeaheadCtrl">
                  
                  <input type="search" ng-model="selected" ng-trim="false" typeahead="city for city in cities | filter:$viewValue | limitTo:8" class="form-control" id="searchBox" onkeyup="checkFilled()" placeholder="Search for a city...">

              </div>

          </div>  <!-- end searchMenu -->

        </div>  <!-- end container -->
      </div>  <!-- end row -->

      <div class="row">
          <div class="col-lg-4">
              <div id="hint-box" class="dropdown" ng-controller="DropdownCtrl">
                  
                  <a class="btn btn-danger dropdown-toggle">Hint</a>
                  
                  <div class="dropdown-menu">
                  
                    <li ng-repeat="choice in items">
                      <a class="hints">{{ choice }}</a>
                    </li>
                  
                  </div>

              </div>

              <div>
                  <a id="redraw" class="btn btn-danger dropdown-toggle">Show Legend</a>
              </div>
          </div>
      </div>
        
      <div class="row">

 
        <div class="col-lg-9">

            <div id="chart">
              <!-- main dancing balls chart -->
            </div> 

        </div>  

        <div class="col-lg-3">
          
            <!-- AGENDA / FORMAT SECTION -->
            <div id="accord" ng-controller="AccordionCtrl">
            
                <accordion close-others="oneAtATime">
                  <accordion-group heading="SUMMARY" is-open="true">
                    Over 12,000 data points ranging 30 years for the largest cities in Canada. The economy in motion as measured by GDP, Income and Employment. 

                  </accordion-group>

                  <accordion-group heading="{{ group.title }}: {{ group.axis }}" ng-repeat="group in groups">
                    {{ group.content }}
                  </accordion-group>

                  <accordion-group is-open="isopen">
                      <accordion-heading>
                          Learn More... <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                      </accordion-heading>
                          
                            <p id="adopted">Visualization by <a href="http://www.cacheflow.ca" target="_blank">Derek Braid  </a>adopted from <a href="http://bost.ocks.org/mike/nations/" rel="author" target="_blank">Bostock, via Carden & Rosling</a></p>
                          
                  </accordion-group>
                </accordion>

            </div> 
        </div>

      </div><!-- row -->
    </div><!-- container -->

    <div class="row">
      <div class="container">
        
                <aside id="mouse-tip">Mouseover the year to move forward and backwards through time.</aside>

      </div>
    </div>

  <div id="f">
    <div id="social" class="container">
      <div class="row centered">
        <a href="http://twitter.com/Royal_Arse" target="_blank"><i class="fa fa-twitter"></i> Royal_Arse on Twitter </a>

        <a href="https://www.linkedin.com/in/debraid/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div><!-- row -->
      <div id="dev" class="row centered"><a href="https://derekbraid.com" target="_blank">Derek Braid Homepage</a></div>
    </div><!-- container -->
  </div><!-- Footer -->



    <!-- Bootstrap, jQuery, Scroll JavaScript, other d3 
    ================================================== -->
    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/d3tip.js"></script>
    <script type="text/javascript" src="assets/js/wealth.js"></script>
    <script type="text/javascript" src="assets/js/accord-menu.js"></script>
    <script type="text/javascript" src="assets/js/inputSort.js"></script>
    <script type="text/javascript" src="assets/js/hint.js"></script>
    <script type="text/javascript" src="assets/js/redraw.js"></script>

  </body>
</html>
